{
  "openapi": "3.0.2",
  "info": {
    "title": "Bookstore Website Demo",
    "description": "RESTful API for a Microservice-Based Bookstore Website Demo",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.bookservice/v1",
      "description": "Service that provides data about books"
    },
    {
      "url": "http://api.userservice/v1",
      "description": "Service that manages information about users"
    },
    {
      "url": "http://api.purchaseservice/v1",
      "description": "Service that manages users' purchasing data"
    },
    {
      "url": "http://api.orderservice/v1",
      "description": "Service that manages orders"
    },
    {
      "url": "http://api.itemservice/v1",
      "description": "Book description service"
    },
    {
      "url": "http://api.registrationservice/v1",
      "description": "Service that manages user registrations"
    }
  ],
  "paths": {
    "/books/{text}": {
      "get": {
        "tags": [
          "book"
        ],
        "summary": "Return existing books",
        "description": "Returns a list of books according to the user's search string",
        "parameters": [
          {
            "name": "text",
            "in": "path",
            "description": "books of the text to return",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A book or a list of books",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/registration": {
      "get": {
        "tags": [
          "registration"
        ],
        "summary": "Retrieve form",
        "description": "Return a form to resgister in the system",
        "responses": {
          "200": {
            "description": "a form to fill",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/users/login": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Logs user into the system",
        "description": "Return form to perform login",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "The user name for login",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "The password for login",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "operation carried out successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid username/password"
          }
        }
      }
    },
    "/users/logout": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "logs out in user session",
        "description": "",
        "parameters": [],
        "responses": {
          "default": {
            "description": "operation carried out successfully"
          }
        }
      }
    },
    "/users/{userCode}": {
      "put": {
        "tags": [
          "user"
        ],
        "summary": "Update user data",
        "description": "user logged can update data",
        "parameters": [
          {
            "name": "userCode",
            "in": "path",
            "description": "user to be updated",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update existing user in the system",
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "default": {
            "description": "operation carried out successfully"
          }
        }
      }
    },
    "/user/{userCode}": {
      "delete": {
        "tags": [
          "user"
        ],
        "summary": "Delete user",
        "description": "Delete existing user in the system",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "userCode",
            "in": "path",
            "description": "user code that must be deleted",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid password"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/orders": {
      "post": {
        "tags": [
          "order"
        ],
        "summary": "Place an order for a book",
        "description": "Place a new order in the system",
        "operationId": "placeOrder",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "description": "operation carried out successfully",
            "content": {
              "application/json": {}
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/purchases": {
      "post": {
        "tags": [
          "purchase"
        ],
        "summary": "Perform a purchase",
        "description": "User logged performs a purchase",
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "description": "operation carried out successfully",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Book": {
        "type": "object",
        "properties": {
          "bookCode": {
            "type": "integer",
            "format": "int32",
            "example": "10"
          },
          "title": {
            "type": "string",
            "example": "The Human Condition"
          },
          "author": {
            "type": "string",
            "example": "Hannah Arendt"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "userCode": {
            "type": "integer",
            "format": "int32",
            "example": "1"
          },
          "name": {
            "type": "string",
            "example": "Ian Almeida"
          },
          "email": {
            "type": "string",
            "example": "ian@gmail.com"
          },
          "street": {
            "type": "string",
            "example": "Corn Street"
          },
          "creditCard": {
            "type": "string",
            "example": "1234 4567 7654 7656"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "orderCode": {
            "type": "integer",
            "format": "int32",
            "example": "4"
          },
          "state": {
            "type": "string",
            "description": "Order status",
            "example": "in progress",
            "enum": [
              "confirmed",
              "in progress",
              "canceled"
            ]
          }
        }
      },
      "Registration": {
        "type": "object",
        "properties": {
          "registrationCode": {
            "type": "integer",
            "format": "int32",
            "example": "7"
          },
          "fullName": {
            "type": "string",
            "example": "Lisa Kraft"
          },
          "email": {
            "type": "string",
            "example": "lisakraft@email.com"
          },
          "streetName": {
            "type": "string",
            "example": "Light Street"
          },
          "creditCard": {
            "type": "string",
            "example": "XXXX - YYYY- WWWW - ZZZZ"
          }
        }
      },
      "Purchase": {
        "type": "object",
        "properties": {
          "purchaseCode": {
            "type": "integer",
            "format": "int32",
            "example": "12"
          },
          "totalPurchaseValue": {
            "type": "number",
            "format": "double",
            "example": "25.50"
          },
          "creditCard": {
            "type": "string",
            "example": "XXXX - YYYY - WWWW - ZZZZ"
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "itemCode": {
            "type": "integer",
            "format": "int32",
            "example": "4"
          },
          "price": {
            "type": "number",
            "format": "double",
            "example": "45.15"
          },
          "itemType": {
            "type": "string",
            "description": "Type of book",
            "example": "Digital book",
            "enum": [
              "Digital",
              "Printed"
            ]
          }
        }
      },
      "Search": {
        "type": "object",
        "properties": {
          "searchCode": {
            "type": "integer",
            "format": "int32",
            "example": "10"
          },
          "searchName": {
            "type": "string",
            "example": "human condition"
          }
        }
      }
    }
  }
}